logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

../.classpath
../.metadata/
../.project
../.settings/
.metadata/
.sbtserver/
LICENSE
activator
activator.bat
build.sbt
conf/
project/
public/node_modules/
../activator
../activator.bat