@main("CV")(menu()) {
	<div class="row">
  			<div class="col-lg-2 col-md-2 col-xs-12 CV">
  				<center>
  					<a href="@routes.Assets.at("images/CV_MarinaBlin.pdf")" class="btn btn-success" style="font-size:20px;">Télécharger en PDF</a>
  				</center>
  			</div>
  		</div>
		
		<div class="row" >
  			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
				<div class="row">
  					<div class="col-lg-9 col-md-9 col-xs-7">
						<div>
							<p class="text-info" style="text-align:right;">Marina Blin<br>
							28 juin 1992<br>
							55 route de Sainte Luce<br>
							44 300 - Nantes<br>
							06 70 62 65 99<br>

							Permis B</p>
						</div>
					</div>         
					<div class="text-left col-lg-3 col-md-3 col-xs-5">
						<img src="@routes.Assets.at("image/photo.jpg")" style ="width:100%;height:auto" />
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">
				    	<h3>Formations</h3>
			  			<p class="CVLigne"> <em>2015 à aujourd'hui -</em>	Licence professionnelle SIL en alternance à l'IUT de Nantes</p>
						<p class="CVLigne"> <em>Juin 2015 -</em>		DUT informatique à l'IUT de Nantes</p>
						<p class="CVLigne"> <em>Juin 2012 -</em>		Baccalauréat Scientifique spécialité mathématiques option arts plastiques au Lycée Auguste et Jean Renoir à Angers</p>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">
				  		<h3>Expériences</h3>
			  			<p class="CVLigne"> <em>Juillet 2015 à Aujourd'hui</em><br/>	Excamb+ - Amélioration API, Amélioration application mobile, Site web<br/>	Projet MoovTime<br/>		Développement PHP avec YII Framework<br/>		Développement Android avec Android Studio</p>
			  			<div id="accordion" role="tablist" aria-multiselectable="true" >
							<div style="border : none;">
						    	<div role="tab" id="headingOne" style="padding-top : 0px; padding-bottom : 0px;">
						      				<a data-toggle="collapse" data-parent="#accordion" href="#collapse" aria-expanded="false" aria-controls="collapse" style="color : #333; font-size : 20px; text-decoration : none;">
							          			<div id="showmenu">
							          				<p class="enSavoirPlus">En savoir plus
								          			<span class="showMenuArrow hide glyphicon glyphicon-chevron-up red"></span>
								   					<span class="showMenuArrow glyphicon glyphicon-chevron-down blue"></span> </p>
								   				</div>
						        			</a>
						    	</div>
						    	<div id="collapse" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="background-color : white;">
						      		<div class="descriptifExp">
					      				<div class="souligne">Présentation générale :</div>
		<p>Pour valider mon DUT, j'ai fait un stage de 10 semaines du 13 avril au 19 juin. J'ai effectué ce stage dans la startup <a href="http://restlet.com/">Restlet</a>.</p>
		<div class="souligne">Présentation de la mission :</div>
		<p>Les tâches a effectué se trouvaient sur la partie Google spreadsheet d'APIspark. Elles portaient aussi bien sur le frontend que sur le backend. Ma  mission  avait  pour  but  la  correction  et  l’amélioration  de  la  partie  Google  spreadsheet d’APISpark.</p>
		<div class="souligne">Présentation d'APISpark :</div>
		<p>APISpark est un site internet qui permet à ces utilisateurs d’exporter une API web.
		Cela permet ainsi à l’utilisateur par la suite de faire appel à l’API qu’il aura créé, pour l’intégrer à son site web. En d’autres mots, si l’utilisateur a besoin d’une base de données NoSQL pour son site, il peut en créer une à partir d’APISpark. Une fois qu’il a créé sa base de données, il peut rentrer les valeurs qu’il souhaite. 
		Une fois que tout lui convient et qu’il estime sa base de données convenable, il l’exporte en API web. Il obtiendra alors la possibilité de télécharger deux sortes de fichiers : un qui sert du côté client et un autre qui sert du côté serveur. S’offre ensuite à l’utilisateur le choix du langague qu’il a besoin pour son site. 
		Une fois qu’il a téléchargé les fichiers qu’il a besoin, il aura alors à sa disposition un ou des fichiers lui permettant de faire des appels sur la base de données qu’il vient de créer. 
		De plus, il est possible d’importer un ficher SQL déjà existant ou même passer par des sites comme Firebase, Parse ou même Google.</p>
		<div class="souligne">Présentation des langages et outils/framworks utilisés :</div>
		<p>Langages : Java - HTML5<br>
		Outils/framworks : Eclipse - Webstorm - Github - AngularJS - Bootstrap</p>
		<div class="souligne">Rapport de stage :</div>
		<p>Prochainement</p>
					    	  		</div>
						    	</div>
						  	</div>
						</div>
						<p class="CVLigne"> <em>Janvier 2016</em><br/>	Global Game Jam - <a href="http://globalgamejam.org/2016/games/until-tomorrow">Until tomorrow</a> - développement</p>
			  			<p class="CVLigne"> <em>Avril 2015 à juin 2015 :</em><br/>	Restlet - Amélioration API<br/>	Projet APISpark<br/>		Développement Java avec Restlet Framework</p>
			  			<div id="accordion" role="tablist" aria-multiselectable="true" >
							<div style="border : none;">
						    	<div role="tab" id="headingOne" style="padding-top : 0px; padding-bottom : 0px;">
						      				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color : #333; font-size : 20px; text-decoration : none;">
							          			<div id="showmenu1">
							          				<p class="enSavoirPlus">En savoir plus
								          			<span class="showMenuArrow1 hide glyphicon glyphicon-chevron-up red"></span>
								   					<span class="showMenuArrow1 glyphicon glyphicon-chevron-down blue"></span> </p>
								   				</div>
						        			</a>
						    	</div>
						    	<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" style="background-color : white;">
						      		<div class="descriptifExp">
					      				<div class="souligne">Présentation générale :</div>
		<p>Pour valider mon DUT, j'ai fait un stage de 10 semaines du 13 avril au 19 juin. J'ai effectué ce stage dans la startup <a href="http://restlet.com/">Restlet</a>.</p>
		<div class="souligne">Présentation de la mission :</div>
		<p>Les tâches a effectué se trouvaient sur la partie Google spreadsheet d'APIspark. Elles portaient aussi bien sur le frontend que sur le backend. Ma  mission  avait  pour  but  la  correction  et  l’amélioration  de  la  partie  Google  spreadsheet d’APISpark.</p>
		<div class="souligne">Présentation d'APISpark :</div>
		<p>APISpark est un site internet qui permet à ces utilisateurs d’exporter une API web.
		Cela permet ainsi à l’utilisateur par la suite de faire appel à l’API qu’il aura créé, pour l’intégrer à son site web. En d’autres mots, si l’utilisateur a besoin d’une base de données NoSQL pour son site, il peut en créer une à partir d’APISpark. Une fois qu’il a créé sa base de données, il peut rentrer les valeurs qu’il souhaite. 
		Une fois que tout lui convient et qu’il estime sa base de données convenable, il l’exporte en API web. Il obtiendra alors la possibilité de télécharger deux sortes de fichiers : un qui sert du côté client et un autre qui sert du côté serveur. S’offre ensuite à l’utilisateur le choix du langague qu’il a besoin pour son site. 
		Une fois qu’il a téléchargé les fichiers qu’il a besoin, il aura alors à sa disposition un ou des fichiers lui permettant de faire des appels sur la base de données qu’il vient de créer. 
		De plus, il est possible d’importer un ficher SQL déjà existant ou même passer par des sites comme Firebase, Parse ou même Google.</p>
		<div class="souligne">Présentation des langages et outils/framworks utilisés :</div>
		<p>Langages : Java - HTML5<br>
		Outils/framworks : Eclipse - Webstorm - Github - AngularJS - Bootstrap</p>
		<div class="souligne">Rapport de stage :</div>
		<a href="@routes.Assets.at("fichier/Rapport_de_Stage_Restlet.pdf")" class="btn btn-success" style="font-size:20px;">Rapport de stage</a>
		<a href="@routes.Assets.at("fichier/Annexes_Stage_Restlet.pdf")" class="btn btn-success" style="font-size:20px;">Annexes de stage</a>
						      			</p>
						      		</div>
						    	</div>
						  	</div>
						</div>
						<p class="CVLigne"> <em>Mai 2014</em><br/>	24h des IUT informatique à Strasbourg - 4éme/30 à l'épreuve de web </p>
				  			<div id="accordion" role="tablist" aria-multiselectable="true" >
								<div style="border : none;">
							    	<div  role="tab" id="headingOne" style="padding-top : 0px; padding-bottom : 0px;">
					      				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color : #333; font-size : 20px; text-decoration : none;">
						          			<div id="showmenu2">
							          			<p class="enSavoirPlus">En savoir plus
								          			<span class="showMenuArrow2 hide glyphicon glyphicon-chevron-up red"></span>
								   					<span class="showMenuArrow2 glyphicon glyphicon-chevron-down blue"></span>
								   				</p> 
							   				</div>
					        			</a>
							    	</div>
							    	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="background-color : white;">
				      	      			<div class="descriptifExp">	
				      	      				<div class="souligne">I(ntelligence) A(rtificielle) :</div>
			<p>Création d'une IA du jeu <a href="http://fr.wikipedia.org/wiki/Quoridor">Quoridor</a>. Nous devions pour cela gérer les déplacements de notre pion sans qu'il puisse traverser les murs ainsi que le placement des murs. Pour chaque tour de jeu, nous devions décider si nous voulions déplacer notre pion pour avancer vers l'autre bout du plateau ou bien de placer un mur afin de ralentir l'adversaire. Nous avions décider de le programmer en Java.</p>
			
			<div class="souligne">Web :</div>
			<p>Création d'un site web qui devait gérer les remboursements entre personnes suite à un événement. Nous devions aussi donner la possibilité à l'utilisateur de se connecter. Pour cela, nous avions utilisé deux framework : Cakephp pour le framework php et fundation pour le framework css.</p>
			
			<div class="souligne">Sécurité :</div>
			<p>Cette épreuve portait sur différents aspects de la sécurtié. Nous devions retrouver des mots de passe caché dans des images, des sons, des codes (principalement assembleur) mais aussi récupérer des mots de passe administrateur pour pouvoir se connecter à des sites web et ainsi avoir le mot de passe pour pouvoir valider cette partie de l'épreuve. Nous nous sommes entrainés grâce à ce <a href="http://www.root-me.org/">site</a>.</p>
						      			</div>
						      		</div>
						    	</div>
						  	</div>
							<p class="CVLigne"> <em>Mai 2013 :</em><br/>	24h des IUT informatique à Orléans </p>
				  			<div id="accordion" role="tablist" aria-multiselectable="true" >
								<div style="border : none;">
							    	<div role="tab" id="headingOne" style="padding-top : 0px; padding-bottom : 0px;">
							      		<h4 style="border : none;">
							        		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria	-controls="collapseThree" style="color : #333; font-size : 20px; text-decoration : none;">
							          			<div id="showmenu3">
							          				<p class="enSavoirPlus">En savoir plus
										          		<span class="showMenuArrow3 hide glyphicon glyphicon-chevron-up red"></span>
										   				<span class="showMenuArrow3 glyphicon glyphicon-chevron-down blue"></span>
										   			</p>
									   			</div>
							          		</a>
							      		</h4>
							    	</div>
							    	<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="background-color : white;">
							      		<div class="panel-body">
							      			<div class="descriptifExp">	
							      				<div class="souligne">I(ntelligence) A(rtificielle) :</div>
			<p>Création d'une IA du jeu <a href="http://fr.wikipedia.org/wiki/Pac-Man">Pac-man</a>. Nous devions pour cela gérer les déplacements de notre Pac-man ainsi que de notre fantome. Le Pac-man devait manger les points bonus et le fantome devait chercher à manger les pac-man adverses. Nous avions décider de le programmer en Java.</p>
			
			<div class="souligne">Web :</div>
			<p>Création d'un site du genre le bon coin. Nous devions donner la possibilité à l'utilisateur d'ajouter et supprimer des offres de ventes ainsi que de poster des photos des articles à vendre. Pour cela, nous avions utilisé le framework Symfony2 comme framework php et aucun framework pour le css.</p>
			
			<div class="souligne">Sécurité :</div>
			<p>Cette épreuve portait sur différents aspects de la sécurtié. Nous devions retrouver des mots de passe caché dans des images, des sons, des codes (principalement assembleur) mais aussi récupérer des mots de passe administrateur pour pouvoir se connecter à des sites web et ainsi avoir le mot de passe pour pouvoir valider cette partie de l'épreuve.</p>
							      			</p>
							      		</div>
							    	</div>
							  	</div>
							</div>
					</div>
					<div class="col-lg-5 col-md-5 col-xs-5">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-xs-12">
								<h3>Logiciels</h3>
					  			<p class="CVLigne"> <em>Eclipse</em></p>
					  			<p class="CVLigne"> <em>Sublime text</em></p>
					  			<p class="CVLigne"> <em>Unity</em></p>
					  			<p class="CVLigne"> <em>Photoshop</em></p>
							</div>
							<div class="col-lg-12 col-md-12 col-xs-12">

								<h3>Langues</h3>
					  			<p class="CVLigne"> <em>Anglais</em><br/>	Lecture de documentation technique<br/>	Discussion brève</p>
					  			<p class="CVLigne"> <em>Allemand</em><br/>	Discussion brève</p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-xs-7">

						<h3>Programmation</h3>
			  			<p class="CVLigne"> <em>Web</em><br>	HTML/CSS/JS</p>
			  			<p class="CVLigne"> <em>Objet</em><br>	Java<br/>	PHP</p>
			  			<p class="CVLigne"> <em>Fonctionnelle</em><br>	Scala<br>	Haskell</p>
			  			<p class="CVLigne"> <em>Impératif</em><br>	C<br/>	Python</p>
			  			<p class="CVLigne"> <em>Mobile</em><br>	Java pour Android</p>
			  			<p class="CVLigne"> <em>Base de données</em><br>	SQL</p>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">

						<h3>Framework/Bibliothèque</h3>
			  			<p class="CVLigne"> <em>Bootstrap</em> (CSS)</p>
			  			<p class="CVLigne"> <em>Play</em> (Java/Scala)</p>
			  			<p class="CVLigne"> <em>JQuery</em> (Javascript)</p>
			  			<p class="CVLigne"> <em>AngularJS</em> (Javascript)</p>
			  			<p class="CVLigne"> <em>Bottle</em> (Python)</p>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">


						<h3>Loisirs</h3>
			  			<p class="CVLigne"> <em>Sport</em><br/>	Football pendant 6 ans (dont 4 ans en équipe mixte)<br/>	Taido pendant 5 ans<br/>	Gymnastique pendant 1 an<br/>	Futsal pendant 1 an</p>
			  			<p class="CVLigne"> <em>Arts créatifs</em><br/>	Tricot, crochet, couture<br/>	Pâte Fimo<br/>	Dessin</p>
			  			<p class="CVLigne"> <em>Guitare</em></p>
			  			<p class="CVLigne"> <em>Voyages</em><br/>	Belgique, Danemark, Suède<br/>	Pays-Bas, Finlande<br/>	Allemagne</p>
					</div>
					<div class="col-lg-12 col-md-12 col-xs-12">
					</div>
				</div>
			</div>
		</div>
	</div>
}(footer())