@main("Accueil")(menu()) {
	<div class="row">
  			<div class="col-lg-2 col-md-2">
  			</div>
			<div class="col-lg-8 col-md-8 col-xs-12">
				<br><br><br>
				<p>
					Bienvenu sur mon site web !
					<br><br><br>
				</p>
				<p style="text-align:center;">
					Je suis actuellement étudiante en informatique à l'IUT de Nantes. Vous y trouverez mon <a href="/Page/CV.php">CV</a> ainsi que différents <a href="/Page/projetEtude.php">projets</a> réalisés à l'IUT.
					Bonne visite à tous !
					<br><br><br>
				</p>
				<p style="text-align:right;">
					Pour toute question, n'hésitez pas à me contacter !
				</p>
  			</div>
			<div class="col-lg-2 col-md-2">
  			</div>
  		</div>
}(footer())