<nav class="navbar navbar-default" ng-controller="myCtrl">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">
                	Toggle navigation
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

               
            <a class="navbar-brand" href="/">
                <img class="oiseau" src="@routes.Assets.at("images/Oiseau.png")">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/projetEtude">
                        {{'SCHOOLPROJECT' | translate}}
                    </a>
                </li>
                <li>
                    <a href="/cv">
                        CV
                    </a>
                </li>
                <li>
                    <a href="/dessinTravauxManuels">
                        {{'DRAW' | translate}}
                    </a>
                </li>
            </ul>
         
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"  class="navbar-brand">
                        Langues
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <input class="btn btn-default" type="button" ng-click="changeLanguage('en')" value="{{'BUTTON_LANG_EN' | translate}}">
                        </li>
            			<li>
            			    <input class="btn btn-default" type="button" ng-click="changeLanguage('fr')" value="{{'BUTTON_LANG_FR' | translate}}">
            			</li>
                    </ul>
                </li>
            </ul>            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
